.chickenbone-text{
    font-size: 15px;
    line-height: 22.4px;
      color: #0d0d0e;
}
.chickenbone-text1{
font-size: 10px;
color: #4d4d4f;
margin-top: -6px;
}
.chickenbone_weight{
    display: flex;
    font-size: 10px;
    align-items: baseline;
    /* margin: .5rem 0; */
    margin-top: -7px;
    margin-bottom: 10px;
    gap: 4px;
    height: 17px;
}
.chickenbone-pieces {
    /* font-weight: 500; */
      font-size: 14px;
    color: #0d0d0e;
    line-height: 19px;
}
.chickenbone_pieces2 {
    font-size: 12px;
    /* font-weight: 500; */
    line-height: 16.8px;
    color: #4d4d4f;
}
.chickenbone-price1{
  font-size: 16px;
    line-height: 22.4px;
        color: #0d0d0e;
}
.chickenbone-discount {
     color: #26955d;
  font-weight: 500;

  font-size: 14px;
}
.chickenbone-time {
font-size: 10px;
  color: #6c757d;
  margin-bottom: 1rem;
}
.btn{
  background-color: #ff2e56;
  border: none;
  font-weight: bold;
  padding: 0px 4px;
 color: white;
  position: relative;
  left: 70%;
 top: -40px;
}
.carousel-indicators [data-bs-target] {
  background-color: #c4c4c4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}
.carousel-indicators .active {
  background-color:#c4c4c4;
}
.card{
  padding: 0px 0px 0px 0px;

}
.card-body{
  padding-bottom: 0px;
  margin:-5px 0px -22px 0px;
}
.chickenbonehead1{
  width: 30%;
}
.chickenboneimgA{
  width: 100%;
}
.chickenbonehead {
  gap: 10px;
  width: 92%;
  margin-left: 7%;
}
/* .carousel-inner img {
  width: 100%;
  object-fit: cover;
}  */