.kidall-text{
    font-size: 15px;
    line-height: 22.4px;
      color: #0d0d0e;
}
.kidall-text1{
font-size: 10px;
color: #4d4d4f;
margin-top: -6px;
}
.kidall_weight{
    display: flex;
    font-size: 10px;
    align-items: baseline;
    /* margin: .5rem 0; */
    margin-top: -7px;
    margin-bottom: 10px;
    gap: 4px;
    height: 17px;

}
.kidall-pieces {
    /* font-weight: 500; */
      font-size: 14px;
    color: #0d0d0e;
    line-height: 19px;
}
.kidall_pieces2 {
    font-size: 12px;
    /* font-weight: 500; */
    line-height: 16.8px;
    color: #4d4d4f;
}
.kidall-price1{
  font-size: 16px;
    line-height: 22.4px;
        color: #0d0d0e;
}
.kidall-discount {
     color: #26955d;
  font-weight: 500;

  font-size: 14px;
}
.kidall-time {
  font-size: 10px;
  color: #6c757d;
  margin-bottom: 1rem;
}
.btn{
  background-color: #ff2e56;
  border: none;
  font-weight: bold;
  padding: 0px 4px;
 color: white;
  position: relative;
  left: 70%;
 top: -40px;
}
.carousel-indicators [data-bs-target] {
  background-color: #c4c4c4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}
.carousel-indicators .active {
  background-color:#c4c4c4;
}
.card{
  padding: 0px 0px 0px 0px;

}
.card-body{
  padding-bottom: 0px;
  margin:-5px 0px -22px 0px;
}
.kidallhead1{
  width: 30%;

}
.kidallimgA{
  width: 100%;
}

.kidallhead{
  gap: 10px;
  width: 92%;
  margin-left: 7%;
}

 





/* .carousel-inner img {
  width: 100%;
  object-fit: cover;
}  */


/* ================ */

.quantity-control {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 73px;
  height: 25px;
  position: relative;
  bottom: 40px;
  left: 76%;
}

.qty-btn {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #d90429;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.qty-count {
  flex: 1;
  background-color: #f3f3f3;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 15px;
}








