.falavourAll-text{
    font-size: 16px;
    line-height: 22.4px;
      color: #0d0d0e;
      margin-top: 10px;
font-weight: bold;
}
.falavourAll-text1{
font-size: 13px;
color: #4d4d4f;
margin-top: -6px;
}
.falavourAll_weight{
    display: flex;
    font-size: 14px;
    align-items: baseline;
    /* margin: .5rem 0; */
    margin-top: -7px;
    margin-bottom: 10px;
    gap: 4px;
    height: 17px;
}
.falavourAll-pieces {
    /* font-weight: 500; */
      font-size: 14px;
    color: #0d0d0e;
    line-height: 19px;
}
.falavourAll_pieces2 {
    font-size: 12px;
    /* font-weight: 500; */
    line-height: 16.8px;
    color: #4d4d4f;
}
.falavourAll-price1{
  font-size: 16px;
    line-height: 22.4px;
        color: #0d0d0e;
}
.falavourAll-discount {
     color: #26955d;
  font-weight: 500;

  font-size: 14px;
}
.falavourAll-time {
font-size: 15px;
  color: #444;
  margin-bottom: 1rem;
}
.btn-fav{
  background-color: #D11243;;
  border: none;
  font-weight: bold;
  padding: 4px 4px;
 color: white;
  position: relative;
  left: 82%;
 bottom:20%;
 width: 20%;
 border-radius: 5px;
}





/* .carousel-indicators [data-bs-target] {
  background-color: #c4c4c4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}
.carousel-indicators .active {
  background-color:#c4c4c4;
} */
.card{
  padding: 0px 0px 0px 0px;

}
.card-body{
  padding-bottom: 0px;
  margin:-5px 0px -22px 0px;
}
.falavourAllhead1{
  width: 30%;
}
.falavourAllimgA{
  width: 100%;
}
.falavourAllhead {
  gap: 10px;
  width: 94%;
  margin-left: 7%;
}
.favAll-tittle{
    color: #0d0d0e;
    line-height: 128%;
    font-size: 28px;
    font-weight: 500;
}
.custom-favAll {
  width: 100%;
  height: 258px;
  object-fit: cover;
}
.quantityControl-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 15px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}










