.Daily-Fish-container {
  background-color: rgb(143, 177, 210);
 padding: 10px 0px 10px 0px;
margin-top:2px;
font-family: Arial, sans-serif;
  box-shadow: 0 -3px 0px 0 rgba(1, 0, 0, 0.1);
 position: sticky;
 top: 12.9%;
 z-index: 60;
}
.dailyfishhead2{
 
   background-color: rgb(143, 177, 210);
}
.dailybanner1{
  margin-left:3%;
width: 92%;
}
.carousel-control-next-icon {
  margin-left: -47%;
}
   
.breadcrumb {
  font-size: 14px;
  color: #333;
  margin-bottom: 1rem;
  margin-left:14.5%;
}
.separator {
  margin: 0 0.5rem;
}
.current {
  color: #d0021b; 
}
.heading {
 font-size: 25px;
  font-weight: bold;
color: #0d0d0e;
    line-height: 128%;
  margin-left: 14.5%;
}
.DailyFisHome{
    text-decoration: none;
    color: #333;
}
.DailyFisHome:hover{
    color:#D11243;
}
.Dailyfishdiv{
width:92%;
}
.Daily-fish-cat{
 margin-left: -38%;
}
.Dailyimg1 {
  width: 80px;
  height: 100px;
  object-fit: contain;
  border: 2px solid transparent;
  transition: border 0.3s;
}
 .kidtext {
  /* margin-top: 0.5rem; */
  margin-top: 8px;
  font-size: 14px;

  color: #0d0d0e;
   line-height: 18.9px;
}

/* == */

/* Change font for category text */
.kidtext {
margin-top: 0.5rem;
font-size: 14px;
font-weight: 500;
font-family: 'Poppins', sans-serif; /* or any other font you prefer */
color: #000;
position: relative;
}
/* Underline when active */
/* .kidtext.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e40046; 
  margin: 4px auto 0 auto;
  border-radius: 2px;
} */
/* Optionally, bold the active text */
.kidtext.active {
  font-weight: 600;
     color: #0d0d0e;
    }
