.partyHouse-container{
     background-color: rgb(236, 233, 250);
padding: 10px 0px 10px 0px;
margin-top:2px;
  font-family: Arial, sans-serif;
  box-shadow: 0 -3px 0px 0 rgba(1, 0, 0, 0.1);
  position: sticky;
  top: 12.9%;
  z-index: 60;
}
.partyhousehead2{
 
      background-color: rgb(236, 233, 250);
}
.partybanner1{
  margin-left:3%;
width: 92%;
}
.carousel-control-next-icon {
  margin-left: -47%;
}
.carousel-control-prev-icon {
  margin-left: 20%;
}
   
.breadcrumb {
  font-size: 14px;
  color: #333;
  margin-bottom: 1rem;
  margin-left:14.5%;
}
.separator {
  margin: 0 0.5rem;
}
.current {
  color: #d0021b; 
}
.heading {
 font-size: 25px;
  font-weight: bold;
color: #0d0d0e;
    line-height: 128%;
  margin-left: 14.5%;
}
.partyHome{
    text-decoration: none;
    color: #333;
}
.partyHome:hover{
    color:#D11243;
}
.partyhousediv{
width:92%;
}
.partyhouse-cat{
 margin-left:-42%;
}
.partyimg1 {
  width: 80px;
  height: 100px;
  object-fit: contain;
  border: 2px solid transparent;
  transition: border 0.3s;
}
 .partytext {
  /* margin-top: 0.5rem; */
  margin-top: 8px;
  font-size: 14px;

  color: #0d0d0e;
   line-height: 18.9px;
}

/* == */

/* Change font for category text */
.partytext {
margin-top: 0.5rem;
font-size: 14px;
font-weight: 500;
font-family: 'Poppins', sans-serif; 
color: #000;
position: relative;
}
/* Underline when active */
/* .kidtext.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e40046; 
  margin: 4px auto 0 auto;
  border-radius: 2px;
} */
/* Optionally, bold the active text */
.partytext.active {
  font-weight: 600;
     color: #0d0d0e;
    }