.adminheader{
  width: 83.7%;
display:flex;
justify-content: right;
align-items: center;
padding: 20px;
background-color: #fff;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
border-bottom:1px solid #eee ;
position: fixed;
top: 0px;
right: 0px !important;
color:black;
z-index: 900;
}

.admin-drop {
  position: absolute;
  top: 65px;
  right: 0px;
  background-color: #fff;
  border-radius: 5px;
  width: 10%;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
  padding: 1.5% 0px 1% 2%;
}

