.customertable-container{
  flex: 1;
     width: 94%;
background-color: #bda9ad; 
max-height:none;
  min-height: 140vh;
  position: relative;
  top: 63px;
  left:6%;

}
   .customerheader{
     width: 83%;
    background: #fff;
      position: relative;
      top: 20px;
   left: 14%;
}
.customer-table1,.customer-table2{
   background-color: #ffffff;
   padding: 20px;
   width: 83%;
      position: relative;
      top: 30px;
   left: 14%;
  }
   .cush3 {
    /* border-bottom: 1px solid #e6ecf5; */
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #515365;
    font-weight: 500;
  }
.pagination{
  position: relative;
  right: 3%;
  top: 30px;
}





.userentries{
   background-color: #ffffff;
border-bottom: 1px solid #e6ecf5 ;
padding: 10px;
margin: 0px 10px;
border-radius: 5px;
}
.usertable{
padding: 10px 30px 10px 30px;
}


/* Status badge styles */
.badge {
  padding: 0.5em 0.75em;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 0.35rem;
}

.badge.bg-success {
  background-color: #28a745 !important; /* Green for enabled */
  color: #fff;
}

.badge.bg-secondary {
  background-color: #dc3545 !important; /* Red for disabled */
  color: #fff;
}
.toggle-switch {
  width: 60px;
  height: 25px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin: auto;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Disabled (red) */
.toggle-switch.disabled {
  background-color: #c82333;
  justify-content: flex-start;
}

/* Enabled (green) */
.toggle-switch.enabled {
  background-color: #218838;
  justify-content: flex-end;
}

.toggle-label {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.truncate-text {
  max-width: 150px; /* adjust based on your table width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text1 {
  max-width: 100px; /* adjust based on your table width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* == */
.tracking-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.tracking-modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  min-width: 320px;
}

.tracking-steps {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tracking-steps li {
  flex: 1;
  padding: 10px;
  border-bottom: 3px solid #ccc;
  color: #777;
  font-weight: 500;
}

.tracking-steps li.active-step {
  border-bottom: 3px solid #28a745;
  color: #28a745;
  font-weight: bold;
}
