.adminmain{
  flex:1;
   background-color: #bda9ad; 
   max-height: none;
  min-height: 91vh;
  position: relative;
  top: 63px;
}
.admindash-cards{
  margin-left: 18%;
padding: 20px;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  gap: 20px;
}
.admindash-cards1{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.05) ;
}
.dashboardtext1{
  margin: 0;
  font-size: 24px;
  color: #333;
}
.dashboardtext2{
color:#888 ;
margin-top: 5px;
}






