.newbanner-container {
  flex: 1;
  width: 100%;
  background-color: #bda9ad;
  min-height: 100vh;
  position: relative;
  top: 63px;
  overflow-x: hidden; 
}

.banner-form-container {
  max-width: 950px;
  width: 90%; 
  margin: 50px 26%;
  background-color: #fff;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.newbannerheader{
     max-width: 950px;
  width: 90%;
  background: #fff;
  margin: 25px 26%; 
   }
.newform {
     background-color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  color: #2d2d32;
  font-weight: 500;
  }
.bannername,.bannerimage{
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1.5px solid black;
  border-radius: 5px; 
}
form label {
  margin-top: 20px;
  display: block;
  font-weight: 500;
}
.form-buttons {
  margin-top: 25px;
  position: relative;
  left: 39%;
}
.cancelbtn {
 padding: 8px 20px;
    border-radius: 25px;
 background-color: #D11243;
 border: none;
     color: #fff;
     margin: 3px;
}
.save-btn {
 background-color: #198754;
  color: white;
   border: none;
   padding: 8px 25px;
   border-radius: 25px;
   margin: 3px;
} 
.categoryX {
background-color: #D11243;
border: none;
color: #fff;
padding: 3px 10px ;
border-radius: 15px;
}

.addsub{
     background-color: #198754;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
}