.newuser-container {
  flex: 1;
  width: 100%;
  background-color: #bda9ad;
  min-height: 100vh;
  position: relative;
  top: 63px;
  overflow-x: hidden; 
}
.form-container {
  max-width: 950px;
  width: 90%; 
  margin: 50px 26%;
  background-color: #fff;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.newuserheader{
    max-width: 950px;
  width: 90%;
  background: #fff;
  margin: 25px 26%;
   }
.newform {
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #2d2d32;
    font-weight: 500;
  }
.styled-form {
width: 100%;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}
.form-group input {
  padding: 10px;
  border: 1px solid #060606;
  border-radius: 6px;
  font-size: 12px;
}
.permissions-section {
  margin-bottom: 30px;
  font-size: 15px;
   font-weight: 600;
}
.permissions-section label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  
}
.checkbox-label {
  position: relative;
  left: 8px;
font-weight: 500;
font-size: 14px;
 color: #2d2d32;

}

.inputf{
  position: relative;
  right: 5px;
  top: 2px;

}
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.form-actions {
  display: flex;
  justify-content:center;
  gap: 15px;
}

.usercancel-btn,
.usersubmit-btn {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.usercancel-btn {
     background-color: #D11243;
     color: #fff;
 }
.usersubmit-btn {
  background-color: #198754;
  color: white;
}

