
.breadcrumb:hover{
  color: #d11243;
}
.breadcrumb{
  margin: 0px 0px 0px 14%;
}
.breadcrumb1{
  margin: 20px 0px 16px 14%;
   }

.categoryhead{
 font-size: 28px;
    color: #0d0d0e;
    font-weight:500;
}
 .categorycontainer {
   padding: 20px 0px 10px 0px;
    font-family: Arial, sans-serif;
    box-shadow: 0 -3px 0px 0 rgba(1, 0, 0, 0.1);
    position: sticky;
    top: 10.8%;
    z-index: 59;
}
.categorybanner1{
  margin-left:14%;
width: 71%;
}
.categorybannerimg{
  width: 100%;
  object-fit: cover;
}
.catogoryhead2{
  height: 146px;
}

.imgcategory{ 
  width: 90px;
    height: 60px;
    border-radius: 70%;
}
 .imgcategorydiv{
  position: relative;
  left: 13.5%;
}
 .subimg {
  margin-right: 50px;
 }
 .subname{
text-align: center;
 }
 
.breakfast-text{
    font-size: 15px;
    line-height: 22.4px;
      color: #0d0d0e;
}
.breakfast-text1{
font-size: 10px;
color: #4d4d4f;
margin-top: -6px;
}
.breakfast_weight{
    display: flex;
    font-size: 10px;
    align-items: baseline;
    margin-top: -7px;
    margin-bottom: 10px;
    gap: 4px;
    height: 17px;
}
.breakfast-pieces {
      font-size: 14px;
    color: #0d0d0e;
    line-height: 19px;
}
.breakfast_pieces2 {
    font-size: 12px;
line-height: 16.8px;
    color: #4d4d4f;
}
.breakfast-price1{
  font-size: 16px;
    line-height: 22.4px;
        color: #0d0d0e;
}
.breakfast-discount {
     color: #26955d;
  font-weight: 500;

  font-size: 14px;
}
.breakfast-time {
font-size: 10px;
  color: #6c757d;
  margin-bottom: 1rem;
}
.carousel-indicators [data-bs-target] {
  background-color: #c4c4c4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}
.carousel-indicators .active {
  background-color:#c4c4c4;
}
.card{
  padding: 0px 0px 0px 0px;

}
.card-body{
  padding-bottom: 0px;
  margin:-5px 0px -22px 0px;
}
.breakfasthead1{
  width: 30%;
}
.breakfastimgA{
  width: 100%;
}
.breakfasthead {
  gap: 10px;
  width: 92%;
  margin-left: 7%;
}

