.shopcategoryhead {
  width: 100%;
  padding: 0 12px;

}
.shoptitle {
  font-size: 20px;
  font-weight: 600;
  color: #0d0d0e;
  margin-bottom: 4px;
}

.shoptext {
  font-size: 15px;
  color: #4d4d4f;
  margin-bottom: 14px;
}
.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 16px;
  justify-items: center;
}
.shop-item {
  text-align: center;
  cursor: pointer;
}

.shopimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e0e0e0;
}

.t1shop {
  font-size: 13px;
  font-weight: 500;
  color: #0d0d0e;
  line-height: 1.2;
  margin-top: 6px;
}

/* ===== Responsive (same 4 columns up to 1440px) ===== */
@media (max-width: 425px) {
  .shoptitle,.shoptext{
    margin-left: 2%;
  }
  .shopimg {
    width: 60px;
    height: 60px;
  }
  .t1shop {
    font-size: 12px;
  }
}
@media (min-width: 426px) and (max-width:768px){
  .shoptitle,.shoptext{
  margin: 0px 0px 13px 2.5% ;  
  }
  .shopimg {
    width: 70px;
    height: 70px;
  }
  .t1shop {
    font-size: 12px;
  }
  .shop-item {
 margin-left: -30%;
}

}
@media (min-width: 769px) and (max-width:1024px){
  /* For very large screens */
  .shop-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .shopimg {
    width: 100px;
    height: 100px;
  }
  .t1shop {
    font-size: 14px;
  }
    .shop-item {
 margin-left: -15%;
}
 .shoptitle,.shoptext{
  margin: 0px 0px 13px 2.5% ;  
  }
}
@media (min-width: 1025px) and (max-width: 1440px){
  .shopcategoryhead {
  width: 80%;
  padding: 0 12px;

}
  .shop-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .shopimg {
    width: 100px;
    height: 100px;
  }
  .t1shop {
    font-size: 14px;
  }
    .shop-item {
 margin-left: -20%;
}
 .shoptitle,.shoptext{
  margin: 0px 0px 13px 1% ;  
  }
}
@media (min-width: 1441px) and (max-width: 1920px){
   .shopcategoryhead {
  width: 75%;
  padding: 0 12px;

}
  .shop-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .shopimg {
    width: 100px;
    height: 100px;
  }
  .t1shop {
    font-size: 16px;
  }
    .shop-item {
 margin-left: -25%;
}
 .shoptitle,.shoptext{
  margin: 0px 0px 13px 2% ;  
  }
}
@media (min-width: 1921px) and (max-width: 2560px){
     .shopcategoryhead {
  width: 48%;
  padding: 0 12px;

}
  .shop-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .shopimg {
    width: 100px;
    height: 100px;
  }
  .t1shop {
    font-size: 16px;
  }
    .shop-item {
 margin-left: -5%;
}
 .shoptitle,.shoptext{
  margin: 0px 0px 15px 3% ;  
  }
}