.header{
  width: 100%;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 60;
  
  
}
.row>*{
padding-left: 0px;
  padding-right: 0px;
}
/* logo */
.logo{
  height: 38px; 
  width: 100.74px;
  cursor: pointer;
  }
/* location */
.label{
  height: 14px;
}
.location{
font-size: 12px;
color: #0d0d0e;
font-weight: 500;
padding-left: 6px;
}
.address{
  width: 180px;

  color: #0d0d0e;
  font-size: 11px;
    font-weight: 500;
     padding-left: 20px;
   
}
.chevron{
  height: 5px;
}
/* search */
.searchinput{
  width: 110%;
  padding: 2px;
  font-size: 12px;
  margin-top: 10px;
  border-radius: 7px;
  border: 2px solid #e7e7e7;
}
.searchicon{
  position: relative;
  bottom: 45%;
  left: 97%;
  height: 22px;
}
/* category */
.categoryimg{
  height: 20px;
    }
.categorytext,.logintext,.carttext{
  font-size: 14px;
}
/* login */
.loginimg{
  height: 16px;
  margin-left: -40px;
}
/* cart */



/* ----- */
.offcanvas-body .list-group-item {
  background-color: transparent;
  z-index: 0;
}
.AddSub{
    position: relative;
  left: 8%;
  top: 90px;
}
.btn-cart {
  background-color: #f7f6f6;
  border: none;
  font-weight: bold;
  padding: 0px 6px;
  color:#d32f2f;
  font-size: 20px;
  /* position: relative;
  left: 0%;
  top: 0px; */
 
}
.btn-cart-remove{
border: none;
padding: 0px 6px;
position: relative;
top: 10px;
font-size: 20px;
}
/* Offcanvas container */
.offcanvas {
  max-width: 420px;
  border-left: 1px solid #e0e0e0;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  
}
.offcanvas-backdrop.show{
opacity: 0;
}
.btn-closeA{
border: 1px solid black;
  color:#000;
height: 25px;
width: 25px;
  border-radius: 25px;
  
  position: relative;
  right: 30px;
  bottom: 28px;
}
.closebuttonB{
  font-size: 20px;
position: relative;
bottom: 5px;
}
/* Header */
.offcanvas-header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f0f0f0;
  font-size: 1.25rem;
  font-weight: bold;
}
/* Top green banner */
.bg-success {
  background-color: #4caf50 !important;
  color: white;
  font-size: 0.95rem;
}
/* Green savings message */
.text-success.border {
  border: 1px solid #4caf50 !important;
  font-size: 0.9rem;
  border-radius: 8px;
}
/* Cart item block */
.list-group-item {
  border: none;
  padding: 0;
  font-size: 0.75rem;
}
.rounded-pill {
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #f1f1f1;
  padding: 0px 0px 0px 0px;
}
.btn-proceed{
  background-color: #dc3545;
  position: relative;
left: 15px;
  border: none;
  color: #fff;
  padding: 10px;
  width: 50%;
border-radius: 3px;
font-size: 14px;
}
/* Bill section */
.border-top {
  border-top: 1px solid #e0e0e0 !important;
  margin-top: 1rem;
  padding-top: 1rem;
}
.offcanvas h6 {
  font-size: 1rem;
  font-weight: 600;
}
/* Total line */
.fw-bold.mt-2 span:last-child {
  font-size: 1.1rem;
  color: #e53935;
}
/* Checkout footer */
.border-top.mt-3 {
  border-top: 1px solid #ddd !important;
  margin-top: 1rem;
  padding-top: 1rem;
}
.fw-bold {
  font-size: 1rem;
}
/* Total price text */
.fw-bold > span {
  color: #000;
}
.cartdiv{
position: relative;
right:73px;
cursor: pointer;
}
/* ================= */


/* @media (min-width: 325px) and (max-width: 425px) {
  .header {
    padding: 4px 3%;
  }

  .logo {
    height: 36px;
  }

  .location {
    font-size: 20px;
    font-weight: 700;
  }

  .label {
    height: 22px;
  }

  .chevron {
    height: 10px;
    position: relative;
    top: -1px;
    left: 6px;
  }

  .address {
    width: 240px;
    font-size: 14px;
    padding-left: 30px;
  }

  .searchinput {
    width: 100%;
    font-size: 13px;
    padding: 4px 8px;
  }

  .searchicon {
    left: -24px;
  }
} */





/* screen320 */
@media (max-width:769px) {
  .header{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
.location{
font-size: 20px;
font-weight: bold;
color: #0d0d0e;
}
.label{
  height:22px;
margin-top: -8px;
}
.chevron{
  height: 10px;
  position: relative;
  top: -2px;
  left: 8px;
}
.address{
 width: 250px;
  font-size: 15px;
  font-weight: 500;
  color: #0d0d0e;
padding-left: 34px;
}.locate{
 padding-left: 20px;
}
}
/* screen 376 */
 /* @media (min-width:321px)and (max-width: 376px){
  .header{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
 .location{
font-size: 20px;
font-weight: bold;
color: #0d0d0e;
}
.label{
  height: 25px;
}
.chevron{
  height: 10px;
  position: relative;
  top: -2px;
  left: 8px;
}
.address{
 width: 250px;
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0e;
padding-left: 34px;
}
.locate{
 padding-left: 20px;
}
} */
/* @media (min-width:377px)and (max-width: 426px){
  .header{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
 .location{
font-size: 20px;
font-weight: bold;
color: #0d0d0e;
}
.label{
  height: 25px;
}
.chevron{
  height: 10px;
  position: relative;
  top: -2px;
  left: 8px;
}
.address{
 width: 250px;
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0e;
padding-left: 34px;
}
.locate{
 padding-left: 20px;
}
}  */
/* screec 768 */
/* @media (min-width:426px)and (max-width: 769px){
  .header{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
 .location{
font-size: 20px;
font-weight: bold;
color: #0d0d0e;
}
.label{
  height: 25px;
}
.chevron{
  height: 10px;
  position: relative;
  top: -2px;
  left: 8px;
}
.address{
 width: 250px;
  font-size: 16px;
  font-weight: 500;
  color: #0d0d0e;
padding-left: 34px;
}
.locate{
 padding-left: 20px;
}
}   */

@media (min-width:770px)and (max-width:1026px){
  
  .header{
    padding: 10px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    /* width: 110%; */
  }
   .logo{
    margin: 0px 40px 0px -25px;
  }
  .address {
    width: 180px;
  }
  .locate{
    margin: 0px 0px 0px 0px;
  }
 .searchicon{
   position: relative;
   bottom: 45%; 
  left: 112%;
}
.search{
  margin-left:30px;
}
.searchinput{
  font-size: 14px;
  padding: 6px;
  width: 130%;
  }
 .categoriesdiv{
    position: relative;
    left: 50px;
  top: 2px;
  }
  .logindiv{
     position: relative;
    left: 75px;
    top: 3px;
  }
  .cartdiv{
   position: relative;
   left: 28px;
    /* border: 1px solid black; */
  }
  .cartimg{
  margin-left: 10px;
}

 }   
 /* Laptop screen */
  @media(min-width:1396.36px) and (max-width:1439px) {
  .header {
    padding: 5px 0px 0px 0px;
  }
 .locate{
  margin: 0px 0px 0px 24px;
  }
.logo{
  margin-left: 70px;
 }
 .search{
  margin-left: 20px;
 }
.searchinput{
  width: 110%;
  padding: 2px;
  font-size: 14px;
  }
}
/* screen 1440 */
@media(min-width:1440px){
   .header {
    padding: 5px 0px 0px 0px;
  }
  .address {
    width: 168px;
  }
  .locate{
  
    margin-left:40px;
  }
  .logo{
    height: 48px; 
  width: 100.74px;
    margin-left:110px;
  }
.search{
  margin-left: 30px;
}
.searchinput{
  width: 106%;
  padding: 3px;
  font-size: 14px;
  }
  .logindiv{
     position: relative;
    top: 3px;
  }
} 